.cardsSection {
  background-color: var(--common-gray);
}

.aboutText {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}

.cardsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 3rem 3rem 1rem 3rem;
}

.card {
  width: 60%;
  align-items: center;
  text-align: center;
  background-color: var(--common-white);
  border-radius: 25px;
  box-shadow: 10px 20px 30px 0px #00000040;
  padding: 3rem;
}

.cardImage {
  width: 11.3125rem;
  height: 10rem;
  position: absolute;
}

.authorText {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
