@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;600;800&display=swap');

:root {
  /* colors */
  --common-dark: #000;
  --common-gray: #f7f7f7;
  --common-white: #fff;
  --text-primary: #292929;
  --text-secondary: #676767;
  --text-disabled: #acacac;
  --primary-main: #0500ff;
  --primary-light: #9997ff;
  --primary-dark: #03009d;
  --primary-contrast: #fff;
  --secondary-main: #ff0000;
  --secondary-light: #ff8181;
  --secondary-dark: #a70000;
  --secondary-contrast: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Archivo, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--text-primary);
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-primary);
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

p,
li {
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 3.125rem;
  color: var(--text-primary);
}

li {
  list-style-image: url(/checkmark.svg);
  padding-inline-start: 1ch;
}

.button {
  display: inline-block;
  padding: 1.25rem 2.8125rem;
  background-color: var(--primary-main);
  color: var(--primary-contrast);
  border-radius: 50px;
}

.button:hover {
  background-color: var(--primary-dark);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.button-outline {
  display: inline-block;
  padding: 1.25rem 2.8125rem;
  color: var(--text-primary);
  border: var(--primary-main) solid 2px;
  border-radius: 50px;
}

.button-outline:hover {
  border-color: var(--primary-dark);
  color: var(--text-secondary);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.buttonText {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 1400px) {
  :root {
    font-size: 14px;
  }
}
