.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5rem 0;
}

.heroContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.heroLeftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.heroTextContainer {
  margin-bottom: 5rem;
}

.heroTitle {
  margin-bottom: 5rem;
}

.heroImage {
  width: 41.875rem;
  height: 29.8125rem;
  position: relative;
}

.heroButtons {
  display: flex;
  gap: 2rem;
}

/** Cards Section **/

.cardsSection {
  background-color: var(--common-gray);
}

.cardsContainer {
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 26.6875rem;
  height: 43.125rem;
  padding: 4rem 3rem;
  background-color: var(--common-white);
  border-radius: 25px;
  box-shadow: 10px 20px 30px 0px #00000040;
}

.cardImage {
  width: 11.3125rem;
  height: 8rem;
  position: relative;
}

/** Why Faktyczka Section **/

.whyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.whyContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 7rem;
}

.whyTextContainer {
  width: 50%;
}

.whyImage {
  width: 38.875rem;
  height: 25.3125rem;
  position: relative;
}

/** Partners Section **/

.partnersText {
  text-align: center;
  padding: 0 10rem;
}

.link {
  color: var(--primary-main);
}

.link:hover {
  color: var(--primary-light);
  transition: color 0.2s ease-in-out;
}

.logosContainer {
  display: flex;
  gap: 2rem;
  margin: 10rem 0;
}

.logoImage {
  width: 25rem;
  height: 5.0625rem;
  position: relative;
}

/** Contact Section **/

.contactSection {
  background-color: var(--common-gray);
}

.contactWrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.contactInfoContainer {
  background-color: var(--common-white);
  padding: 4rem 6rem;
}

.contactElement {
  display: flex;
  gap: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.formLabel {
  font-size: 1rem;
  padding-bottom: 0.2;
  margin: 0;
}

.contactFormEmail, .contactFormContent {
  padding: 0;
  margin: 0;
  width : 40rem;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
}

.contactFormEmail {
  height: 3rem;
}

.contactFormContent {
  height: 20rem;
  resize: none; 
}

@media (max-width: 1700px) {
  .section {
    height: auto;
  }

  .heroContainer,
  .whyContainer,
  .cardsContainer, 
  .logosContainer,
  .contactWrapper {
    flex-direction: column;
  }

  .heroLeftContainer {
    align-items: center;
    text-align: center;
    width: 80%;
    order: 2;
  }

  .heroImage {
    order: 1;
  }

  .heroButtons {
    flex-direction: column;
  }

  .logosContainer {
    margin: 6rem 0;
  }
}

