.container {
  padding: 0 20rem 0 20rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.text {
  display: flex;
  flex-direction: column;
}
