.container {
  padding: 0 20rem 0 20rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
