.flexContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  padding: 5px 4rem;
}

.leftFlexContainer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  gap: 3rem;
}
