.flexContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  margin-left: 6.25rem;
}

.leftFlexContainer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  gap: 3rem;
  margin-right: 6.25rem;
}
