.gridContainer {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 40% 20% 20% 20%;
  padding: 10px;
  background-color: var(--text-secondary);
  color: var(--common-white);
  align-items: center;
}

.gridItem {
  padding: 10px;
  text-align: center;
}

.text {
  color: var(--common-white);
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
